// import login css
@import "sass/pages/login/login-1";
kt-auth,
.kt-login {
    height: 100vh;
    .mat-form-field {
        width: 100%;
    }
    // add extra right padding when displaying spinner in button
    .kt-spinner {
        padding-right: 3rem !important;
    }
}

.kt-login__title {
    padding-top: 20px;
}